<!DOCTYPE html>
<html>
<head>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<title>DASHBOARD</title> 
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  
<ul class="navbar-nav">
 
<li class="nav-item">
<a class="nav-link" href="/gptneo">GPT-Neo</a>
</li>

<li class="nav-item">
<a class="nav-link" href="/dashboard">COVID dashboard</a>
</li>
  
<li class="nav-item">
<a class="nav-link" href="/info">Information</a>
</li>

</ul>
      
<ul class="navbar-nav bd-navbar-nav flex-row">
<li class="nav-item">
<form class="form-inline" action="/action_page.php">
<input class="form-control mr-sm-2" id="myInput" type="text" placeholder="Search">
</form>
</li>
</ul>
</nav>


<h1>Dashboard</h1>

<p>Dashboard is made using Flask. </p>

</body>
</html>
